[Unit]
Description=Moore Threads MTT S30 Firmware Loader
Documentation=https://developer.mthreads.com/
DefaultDependencies=no
Before=sysinit.target
Wants=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-firmware-load
StandardOutput=null

[Install]
WantedBy=sysinit.target
